{% block menu %}
	<div class="menu-block">
		<ul class="menu">
			<li class="menu__item">
				Item 1
			</li>
			<li class="menu__item">
				Item 2
			</li>
			<li class="menu__item">
				Item 3
			</li>
		</ul>
	</div>
{% endblock %}