{% use "../object.twig" %}

{% extends "../layouts/layout.twig" %}

{% set title = 'Article' %}

{% block content %}
	<section class="block block--card">
		{% for card in foo %}
			{% include '../layouts/content/card.twig' with vars %}
		{% endfor %}
	</section>
{% endblock %}