{% use "../object.twig" %}

{% extends "../layouts/layout.twig" %}

{% set title = 'Article' %}

{% block content %}
	{% embed '../layouts/content/article.twig' %}
		{% block card %}
			<section class="block block--article">
				{% for card in foo %}
					<div class="c-article">
						<div class="c-article__type">
							{{ card.type }}
						</div>
						<div class="c__image c-article__image">
							{{ card.image }}
						</div>
						<div class="c__title c-article__title">
							{{ card.title }}
						</div>
						<div class="c-article__author">
							{{ card.author }}
						</div>
					</div>
				{% endfor %}
			</section>
		{% endblock %}
	{% endembed %}
{% endblock %}